{% extends 'base.html' %}

{% block header %}
    <h1>All Customers</h1>
    <p>This a list of all saved customers</p>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Phone Number</th>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone_num}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center">
                        <b class="text-danger">
                            Sorry, no saved customers yet
                        </b>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}